/* Defines the width and length for all elements */
* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

/* Changes the background color for the body element */
body {
    background-color: #d9dcd6;
}

/* Defines the padding (the amount of space around the header element), changes the font family for this element, background color, and color of the text for the header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Changes the heading size to 48px and sets the display property to inline-block (allows the heading element to sit next to other elements on the same line) for this heading element */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the color of the text defined in the id */
#seo {
    color: #d9dcd6;
}

/* Sets the position for the nav element and defines the font family and size */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Puts all the list elements on the same line, defines the space between them, and gets rid of any symbols before the text because of the display property */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Changes the color of the element and gets rid of the line under the text */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Changes the size of font in the paragraphs to 16px */
p {
    font-size: 16px;
}

/* Sets the size, placement, and a link to the image that will be used in the defined id */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets the width for the elements within the content id and makes it so it can be on the same line as the elements in the aside id */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Inserts 20 px of space on the bottom of the boxes, gives 50px of space all around the box, sets the height of the box to 300px, sets the font family, makes the color of the boxes blue, and the text inside of the box white */
.box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Generates 20px of space on the bottom of the headings in this class and defines the font size as 36px in the headings */
.box-header {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets the height to 200px for the images in these ids */
#search, #online, #social {
    max-height: 200px;
}

/* Defines the position of the images in these ids */
#search, #social {
    float: left;
    margin-right: 25px;
}

/* Defines the position of the image in this id */
#online {
    float: right;
    margin-left: 25px;
}

/* Sets the position of the id, the size, type of font, and the color of the background in the box */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Generates the amount of space on the bottom of the articles and the color of the text */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Generates the amount of space on the bottom of the headings in this class and centers the text in the headings */
.benefit-header {
    margin-bottom: 10px;
    text-align: center;
}

/* Generates line breaks before and after the images in this class and defines the space around the image */
.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Defines the amount of space around the footer which is 30px all around, places the element below the floating elements above it, defines the font family, centers the text */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Changes the font size to 20px for the defined id */
#foot {
    font-size: 20px;
}
